type macloader, domain;
type macloader_exec, file_type, exec_type;

init_daemon_domain(macloader)

# Read EFS
allow macloader efs_file:dir rw_dir_perms;
allow macloader efs_file:file rw_file_perms;

allow macloader kernel:system module_request;
allow macloader self:capability { sys_module dac_override net_admin net_raw };
allow macloader self:udp_socket { create ioctl };
