allow system_server efs_file:file { read open };
allow system_server efs_file:dir search;
allow system_server sysfs_writable:file rw_file_perms;
allow system_server wifi_data_file:sock_file unlink;
allow system_server recovery_cache_file:dir { relabelfrom create_dir_perms };
allow system_server recovery_cache_file:file { relabelfrom create_file_perms };
