allow untrusted_app efs_file:dir getattr;
allow untrusted_app recovery_cache_file:dir { search open getattr read write };
allow untrusted_app recovery_cache_file:file { getattr };
